
.search_chats.d-flex
  = form_with url: '#' do |form|
    = form.text_field :chat_search, type: 'search', placeholder: 'Search chat', class: 'mr-4 w-100'
  = link_to raw('<i class="fas fa-search fa-2x"></i>'), '#', class: 'ml-2'
.create_chats
  = render 'chat_rooms/create_chat_room', post: @new_chat_room
.chats_list
  = render @chat_list
