.container-fluid
  .row.full_height
    .col-2
      .my-3
        .dropdown
          %button.btn.btn-secondary.w-100.dropdown-toggle#dropdownMenuButton{type: 'button', 'data-toggle': 'dropdown'} User
          .dropdown-menu.w-100{'aria-labelledby': 'dropdownMenuButton'}
            = link_to 'Profile', persons_profile_path, class: 'dropdown-item'
      .left_panel_tabs
        %ul.nav.nav-tabs
          %li.nav-item
            = link_to 'Contacts', '#contacts_tab', 'data-toggle': 'tab', class: 'nav-link'
          %li.nav-item
            = link_to 'Chats', '#chat_tab', 'data-toggle': 'tab', class: 'nav-link active'
      .my-5
        .tab-content.clearfix
          #contacts_tab.tab-pane
            = render 'home_pages/partials/contact_tab'
          #chat_tab.tab-pane.active
            = render 'home_pages/partials/chat_tab'
    .col-10.bg-secondary
      .chat_window.d-flex.flex-column
        .chat_header.bg-white
          = render 'home_pages/partials/chat_messages_header'
        .chat_messages.flex-grow-1
          = render 'home_pages/partials/chat_messages'
        .chat_footer
          = render 'home_pages/partials/chat_messages_footer'
